---
http_interactions:
- request:
    method: get
    uri: https://www.espn.com/nfl/boxscore?gameId=401131040&xhr=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"gameId":401131040,"DTCpackages":{"packages":[{"priceIncrease":[{}],"subscriptions":[{},{},{}],"entitlement":"ESPN_PLUS","subscription":{"bundled":{"manageExpiredText":"Your
        expired subscription can be managed on the website where it was purchased.","manageActiveText":"Your
        active subscription can be managed on the website where it was purchased.","name":"Disney+,
        Hulu, and ESPN+","description":"The Disney Bundle","logoUrl":"http://static.web.plus.espn.com/espn/data/mobile/subscription-espn-plus{scale}.png"},"subscribeText":"Subscribe","subscribedText":"Subscribed","name":"ESPN+","backgroundColors":[""],"subscriptionExpiredText":"Expired","description":"Watch
        More Sports. Anytime. Anywhere.","heroImageUrl":"https://secure.espncdn.com/watchespn/images/espnplus/paywalls/ESPN_PLUS.logo@2x.png"},"tuneIn":{"buttonText":"Subscribe
        Now","upsellHref":"https://secure.web.plus.espn.com/billing/purchase/ESPN_PURCHASE_CMPGN/ESPN_PURCHASE_VOCHR/MESPN","upsellTextKey":"<p>More
        <span>Sports.<\/span> More <span>Leagues.<\/span><\/p><p>More <span>Teams.<\/span>
        More <span>Games.<\/span><\/p>","overlayImgUrl":"/redesign/assets/img/logos/espnplus/ESPN+White.svg","backgroundImgUrl":"/redesign/assets/img/dtc/espn-plus.png"},"concurrencyLimit":5,"trial":{"paywall":{"ctaButtonTitle":"Start
        7-Day Free Trial","disclaimer":"7-Day free trial for new subscribers, then
        $5.99. You will be charged monthly until you cancel. Cancel anytime. Subject
        to terms. Details at espn.com/plus-terms."},"length":"7","categoryCode":"ESPN_submgmt_products","billingDisclaimer":"Your
        {trialLength}-day free trial will start on {date}. You will be billed {price}
        a month (plus tax where applicable) starting {trialEndDayDate}. Cancel anytime
        before then to avoid being charged. Subject to terms. Details at espn.com/plus-terms.
        By signing up for a subscription, you will receive updates, special offers,
        and other information from ESPN, ESPN+, and the Walt Disney Family of Companies.","voucherCode":"ESPN_FT_7D_VOCHR","campaignCode":"ESPN_FT_CMPGN"},"isPPV":false,"trialActive":false,"paywall":{"legalText1":"*
        Compared to monthly.","termsOfUseText":"Terms of Use","subscriberAgreementText":"The
        event you are trying to watch is not available for purchase on this device.  Please
        visit the ESPN website to learn more.","ctaButtonTitle":"Subscribe Now","backgroundColors":[""],"backgroundVideoUrl":"https://secure.espncdn.com/watchespn/images/espnplus/paywalls/ESPN_PLUS.background.mp4","notPurchaseableText":"The
        event you are trying to watch is not available for purchase on this device.  Please
        visit the ESPN website to learn more.","toggle":{"enabled":true,"sections":[{"disclaimerText2":"By
        clicking \"Agree & Subscribe\" below, you also agree to the ESPN+ Subscriber
        Agreement, and acknowledge that you have read our Privacy Policy. Not for
        commercial use.","isDefault":true,"disclaimerText1":"By clicking \"Agree &
        Subscribe\", you are enrolling in automatic payments of $59.99/year (plus
        tax, where applicable) that will continue until you cancel. Cancel anytime,
        effective at the end of your billing period. No refunds or credits for partial
        months or years.","notes":[{"image":"https://a.espncdn.com/paywall/ios/ios-yellow-checkmark@{scale}.png","subtitle":"/
        per year","title":"{price}"},{"image":"https://a.espncdn.com/paywall/ios/ios-yellow-checkmark@{scale}.png"}],"buttons":[{"buttonImage":"
        ","trialActive":false,"analyticsName":"1999199910204019951899000_espn","buttonHighlightedImage":"
        ","sku":"espn_yearly_59_99_web_ae494ab","title":"Subscribe Now","billingDisclaimer":"You
        will be billed {price} a year (plus tax where applicable) starting {date}.
        Subject to terms. Details at espn.com/plus-terms. By signing up for a subscription,
        you will receive updates, special offers, and other information from ESPN,
        ESPN+, and the Walt Disney Family of Companies.","textColor":"#ffffff","disclaimer":"$59.99
        a year until you cancel. Cancel Anytime. Subject to terms. Details at espn.com/plus-terms.
        *Compared to monthly.","trial":{"paywall":{"disclaimer":"Then {price} a year
        until you cancel. Cancel Anytime. Subject to terms. Details at espn.com/plus-terms.
        *Compared to monthly."},"length":"7","categoryCode":"ESPN_submgmt_products","billingDisclaimer":"Your
        {trialLength}-day free trial will start on {date}. You will be billed {price}
        a year (plus tax where applicable) starting {trialEndDayDate}. Cancel anytime
        before then to avoid being charged. Subject to terms. Details at espn.com/plus-terms.
        By signing up for a subscription, you will receive updates, special offers,
        and other information from ESPN, ESPN+, and the Walt Disney Family of Companies.","voucherCode":"ESPN_FT_7D_VOCHR","campaignCode":"ESPN_FT_CMPGN"},"billing":{"showCheckBox":true,"billingDisclosureError":"Please
        check the above box to agree to the annual renewal","ctaButtonTitle":"Agree
        & Subscribe","billingDisclosure":"I agree to the automatic renewal provision."}}],"analyticsName":"Annual","text":"ANNUAL
        PLAN","flagText":"SAVE OVER 15%*","key":"annually"},{"disclaimerText2":"By
        clicking \"Agree & Subscribe\" below, you also agree to the ESPN+ Subscriber
        Agreement, and acknowledge that you have read our Privacy Policy. Not for
        commercial use.","isDefault":false,"disclaimerText1":"By clicking \"Agree
        & Subscribe\", you are enrolling in automatic payments of $5.99/month (plus
        tax, where applicable) that will continue until you cancel. Cancel anytime,
        effective at the end of your billing per[...]
