---
http_interactions:
- request:
    method: get
    uri: https://www.espn.com/nba/scoreboard/_/date/20201101?xhr=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"news":{"link":{"isExternal":false,"shortText":"All News","rel":["index","desktop","league"],"language":"en-US","href":"https://www.espn.com/nba/","text":"All
        NBA News","isPremium":false},"header":"NBA News","articles":[{"images":[{"name":"Kyrie
        and KD [600x400]","width":600,"caption":"Can Kyrie Irving and Kevin Durant
        navigate their way through the East playoffs?","id":31479946,"credit":"Nathaniel
        S. Butler/NBAE via Getty Images","type":"header","url":"https://a.espncdn.com/photo/2021/0520/r856908_600x400_3-2.jpg","height":400},{"name":"Why
        Stephen A. says it is win it all or bust for the Nets","width":576,"caption":"Stephen
        A. Smith examines the championship expectations surrounding the Nets and their
        Big Three heading into the playoffs.","type":"Media","url":"https://a.espncdn.com/media/motion/2021/0521/dm_210521_NBA_Feature_SAS_Nets_Expectations/dm_210521_NBA_Feature_SAS_Nets_Expectations.jpg","height":324}],"premium":false,"description":"Entering
        this year''s playoffs, the loaded Nets are the consensus favorites to win
        the NBA title, and more money has been bet on Brooklyn than any other team
        at multiple U.S. sportsbooks.","links":{"web":{"short":{"href":"https://es.pn/3f8sC8b"},"href":"https://www.espn.com/chalk/story/_/id/31484449/favored-brooklyn-nets-attracting-big-bets-win-nba-title"},"mobile":{"href":"http://m.espn.go.com/wireless/story?storyId=31484449"},"api":{"news":{"href":"http://now.core.api.espn.com/v1/sports/news/31484449"},"self":{"href":"http://now.core.api.espn.com/v1/sports/news/31484449"}}},"published":"2021-05-21T18:48:51Z","lastModified":"2021-05-21T18:48:48Z","categories":[{"uid":"s:40~l:46","sportId":46,"leagueId":46,"league":{"description":"NBA","links":{"web":{"leagues":{"href":"https://www.espn.com/nba/"}},"mobile":{"leagues":{"href":"http://m.espn.com/nba/"}},"api":{"leagues":{"href":"http://now.core.api.espn.com/v1/sports/basketball/nba"}}},"id":46},"description":"NBA","id":9577,"type":"league","createDate":"2021-05-21T18:12:00Z"},{"uid":"s:40~l:46~t:17","sportId":46,"teamId":17,"description":"Brooklyn
        Nets","id":104965,"team":{"description":"Brooklyn Nets","links":{"web":{"teams":{"href":"https://www.espn.com/nba/team/_/name/bkn/brooklyn-nets"}},"mobile":{"teams":{"href":"http://m.espn.com/nba/clubhouse?teamId=17"}},"api":{"teams":{"href":"http://now.core.api.espn.com/v1/sports/basketball/nba/teams/17"}}},"id":17},"type":"team","createDate":"2021-05-21T18:12:00Z"},{"sportId":0,"topicId":179,"description":"news
        - chalk","id":137817,"type":"topic","createDate":"2021-05-21T18:12:00Z"},{"sportId":0,"topicId":781,"description":"news","id":409224,"type":"topic","createDate":"2021-05-21T18:12:00Z"},{"guid":"926db769d35ee2829d7ea05001d774ab","type":"guid","createDate":"2021-05-21T18:12:00Z"},{"guid":"14f579db79eca89894058fec63e16063","type":"guid","createDate":"2021-05-21T18:12:00Z"},{"guid":"5231367719f8b106ec91d8d17e6087fe","type":"guid","createDate":"2021-05-21T18:12:00Z"},{"guid":"7b3729c9-7f69-308a-bf8a-ee15a6aba154","type":"guid","createDate":"2021-05-21T18:12:00Z"}],"type":"HeadlineNews","headline":"Favored
        Brooklyn Nets attracting big bets to win NBA title","byline":"David Purdum"},{"images":[{"name":"Adam
        Silver.jpg [1296x864]","width":1296,"id":30107412,"credit":"Quinn Harris-USA
        TODAY Sports","type":"header","url":"https://a.espncdn.com/photo/2020/1013/r760030_1296x864_3-2.jpg","height":864},{"name":"Adam
        Silver details NBA''s plan to start 2021-22 season in October","width":576,"caption":"Adam
        Silver breaks down the NBA''s plan to return to a normal schedule with the
        2021-22 season starting in October.","type":"Me[...]
