---
http_interactions:
- request:
    method: get
    uri: https://www.espn.com/ncf/scoreboard/_/year/2019/seasontype/2/week/1?xhr=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Content-Type:
      - text/plain
      Location:
      - https://www.espn.com/college-football/scoreboard?year=2019&seasontype=2&week=1&xhr=1
    body:
      encoding: UTF-8
      string: "Redirecting\r\n"
  recorded_at: Fri, 21 May 2021 18:54:25 GMT
- request:
    method: get
    uri: https://www.espn.com/college-football/scoreboard?seasontype=2&week=1&xhr=1&year=2019
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"news":{"link":{"isExternal":false,"shortText":"All News","rel":["index","desktop","league"],"language":"en-US","href":"https://www.espn.com/college-football/","text":"All
        NCAAF News","isPremium":false},"header":"NCAAF News","articles":[{"images":[{"name":"ACC
        logo [600x400]","width":600,"id":20924918,"credit":"Brian Utesch/Icon Sportswire","type":"header","url":"https://a.espncdn.com/photo/2017/1005/r269405_600x400_3-2.jpg","height":400}],"premium":false,"description":"The
        ACC distributed a record $497.2 million for the 2019-20 financial year, the
        highest gross revenue ever reported for the league, according to tax documents
        released Friday.","links":{"web":{"short":{"href":"https://es.pn/347cSM9"},"href":"https://www.espn.com/college-sports/story/_/id/31484061/acc-distributed-record-4972-million-2019-20-financial-year-increase-42-million"},"mobile":{"href":"http://m.espn.go.com/extra/ncaa/story?storyId=31484061"},"api":{"news":{"href":"http://now.core.api.espn.com/v1/sports/news/31484061"},"self":{"href":"http://now.core.api.espn.com/v1/sports/news/31484061"}}},"categories":[{"sportId":0,"topicId":781,"description":"news","id":409224,"type":"topic","createDate":"2021-05-21T16:55:00Z"},{"uid":"s:20~l:23","sportId":23,"leagueId":23,"league":{"description":"College
        Football","links":{"web":{"leagues":{"href":"https://www.espn.com/college-football/"}},"mobile":{"leagues":{"href":"http://m.espn.com/ncf/"}},"api":{"leagues":{"href":"http://now.core.api.espn.com/v1/sports/football/college-football"}}},"id":23},"description":"College
        Football","id":9571,"type":"league","createDate":"2021-05-21T16:55:00Z"},{"uid":"s:40~l:54","sportId":54,"leagueId":54,"league":{"description":"Women''s
        College Basketball","links":{"web":{"leagues":{"href":"https://www.espn.com/womens-basketball/"}},[...]
