---
http_interactions:
- request:
    method: get
    uri: https://www.espn.com/nfl/scoreboard/_/year/2019/seasontype/2/week/1?xhr=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"news":{"link":{"isExternal":false,"shortText":"All News","rel":["index","desktop","league"],"language":"en-US","href":"https://www.espn.com/nfl/","text":"All
        NFL News","isPremium":false},"header":"NFL News","articles":[{"images":[{"name":"Tebow
        jerseys at MiLB [608x342]","width":608,"id":19410573,"credit":"Darren Rovell/ESPN","type":"header","url":"https://a.espncdn.com/photo/2017/0518/r210619_608x342_16-9.jpg","height":342},{"name":"Why
        Kiper is skeptical about Tebow''s chances with the Jags","width":576,"caption":"Mel
        Kiper Jr. questions the Jaguars signing Tim Tebow as a TE and isn''t sure
        of his chances with the team.","type":"Media","url":"https://a.espncdn.com/media/motion/2021/0520/dm_210520_NFL_Analysis_Kiper_on_Tim_Tebow/dm_210520_NFL_Analysis_Kiper_on_Tim_Tebow.jpg","height":324}],"premium":false,"description":"Another
        new team and another top-selling jersey. Tebow, who signed with the Jaguars
        Thursday, is wearing No. 85 and the jersey is already selling well on the
        NFL''s online shop.","links":{"web":{"short":{"href":"https://es.pn/3yuLcPq"},"href":"https://www.espn.com/nfl/story/_/id/31484462/tim-tebow-another-top-selling-jersey-jacksonville-jaguars-no-85"},"mobile":{"href":"http://m.espn.go.com/nfl/story?storyId=31484462"},"api":{"news":{"href":"http://now.core.api.espn.com/v1/sports/news/31484462"},"self":{"href":"http://now.core.api.espn.com/v1/sports/news/31484462"}}},"published":"2021-05-21T18:29:52Z","lastModified":"2021-05-21T18:26:40Z","categories":[{"sportId":0,"topicId":779,"description":"daily","id":409222,"type":"topic","createDate":"2021-05-21T18:23:00Z"},{"sportId":0,"topicId":777,"description":"culture","id":409220,"type":"topic","createDate":"2021-05-21T18:23:00Z"},{"uid":"s:20~l:28","sportId":28,"leagueId":28,"league":{"description":"NFL","links":{"web":{"leagues":{"href":"https://www.espn.com/nfl/"}},"mobile":{"leagues":{"href":"http://m.espn.com/nfl/"}},"api":{"leagues":{"href":"http://now.core.api.espn.com/v1/sports/football/nfl"}}},"id":28},"description":"NFL","id":9572,"type":"league","createDate":"2021-05-21T18:23:00Z"},{"uid":"s:20~l:28~t:30","sportId":28,"teamId":30,"description":"Jacksonville
        Jaguars","id":2996,"team":{"description":"Jacksonville Jaguars","links":{"web":{"teams":{"href":"https://www.espn.com/nfl/team/_/name/jax/jacksonville-jaguars"}},"mobile":{"teams":{"href":"http://m.espn.com/nfl/clubhouse?teamId=30"}},"api":{"teams":{"href":"http://now.core.api.espn.com/v1/sports/football/nfl/teams/30"}}},"id":30},"type":"team","createDate":"2021-05-21T18:23:00Z"},{"uid":"s:20~l:28~a:13200","sportId":28,"athleteId":13200,"athlete":{"description":"Tim
        Tebow","links":{"web":{"athletes":{"href":"https://www.espn.com/nfl/player/_/id/13200/tim-tebow"}},"mobile":{"athletes":{"href":"http://m.espn.com/nfl/playercard?playerId=13200"}},"api":{"athletes":{"href":"http://now.core.api.espn.com/v1/sports/football/nfl/athletes/13200"}}},"id":13200},"description":"Tim
        Tebow","id":73956,"type":"athlete","createDate":"2021-05-21T18:23:00Z"},{"uid":"s:1~l:10~a:36037","sportId":10,"athleteId":36037,"athlete":{"description":"Tim
        Tebow","links":{"web":{"athletes":{"href":"https:/[...]
