---
http_interactions:
- request:
    method: get
    uri: https://www.espn.com/nfl/scoreboard/_/year/2021/seasontype/2/week/1?xhr=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"news":{"link":{"isExternal":false,"shortText":"All News","rel":["index","desktop","league"],"language":"en-US","href":"https://www.espn.com/nfl/","text":"All
        NFL News","isPremium":false},"header":"NFL News","articles":[{"images":[{"name":"Patriots
        logo [600x400]","width":600,"id":29140378,"credit":"Rich Graessle/Icon Sportswire","type":"header","url":"https://a.espncdn.com/photo/2020/0506/r695950_600x400_3-2.jpg","height":400}],"premium":false,"description":"The
        New England Patriots'' team plane has delivered 500,000 Chinese-made COVID
        vaccines to El Salvador - and in the process inadvertently inserted itself
        into a testy, geopolitical fight for influence in Latin America.","links":{"web":{"short":{"href":"https://es.pn/3wqvnHy"},"href":"https://www.espn.com/nfl/story/_/id/31484730/new-england-patriots-plane-being-used-give-flight-china-vaccine-diplomacy"},"mobile":{"href":"http://m.espn.go.com/nfl/story?storyId=31484730"},"api":{"news":{"href":"http://now.core.api.espn.com/v1/sports/news/31484730"},"self":{"href":"http://now.core.api.espn.com/v1/sports/news/31484730"}}},"published":"2021-05-21T19:53:07Z","lastModified":"2021-05-21T19:51:37Z","categories":[{"sportId":0,"topicId":781,"description":"news","id":409224,"type":"topic","createDate":"2021-05-21T19:51:37Z"},{"uid":"s:20~l:28","sportId":28,"leagueId":28,"league":{"description":"NFL","links":{"web":{"leagues":{"href":"https://www.espn.com/nfl/"}},"mobile":{"leagues":{"href":"http://m.espn.com/nfl/"}},"api":{"leagues":{"href":"http://now.core.api.espn.com/v1/sports/football/nfl"}}},"id":28},"description":"NFL","id":9572,"type":"league","createDate":"2021-05-21T19:51:37Z"},{"uid":"s:20~l:28~t:17","sportId":28,"teamId":17,"description":"New
        England Patriots","id":2321,"team":{"description":"New England Patriots","links":{"web":{"teams":{"href":"https://www.espn.com/nfl/team/_/name/ne/new-england-patriots"}},"mobile":{"teams":{"href":"http://m.espn.com/nfl/clubhouse?teamId=17"}},"api":{"teams":{"href":"http://now.core.api.espn.com/v1/sports/football/nfl/teams/17"}}},"id":17},"type":"team","createDate":"2021-05-21T19:51:37Z"},{"uid":"s:0","topicId":121,"sportId":0,"type":"topic","createDate":"2021-05-21T20:01:28Z"},{"guid":"ffd795dddc60d4c3f868831dc2ec21b3","type":"guid","createDate":"2021-05-21T20:01:28Z"},{"guid":"0078f353fe3e67eda42c43cca0568e21","type":"guid","createDate":"2021-05-21T19:51:37Z"},{"guid":"ad4c3bd2-ddb6-3f8c-8abf-744855a08fa4","type":"guid","createDate":"2021-05-21T19:51:37Z"},{"guid":"5231367719f8b106ec91d8d17e6087fe","type":"guid","createDate":"2021-05-21T19:51:37Z"}],"type":"HeadlineNews","headline":"New
        England Patriots'' plane being used to give flight to China''s vaccine diplomacy"},{"images":[{"name":"Patrick
        Mahomes [600x400]","width":600,"id":30755421,"credit":"Jamie Squire/Getty
        Images","type":"header","url":"https://a.espncdn.com/photo/2021/0121/r804976_600x400_3-2.jpg","height":400},{"name":"Who
        faces more pressure from Brady: Rodgers or Mahomes?","width":576,"caption":"Stephen
        A. Smith shares his thoughts on how Tom Brady''s success in Tampa Bay is impacting
        Aaron Rodgers NFL legacy.","type":"Media","url":"https://a.espncdn.com/media/motion/2021/0419/dm_210419_COM_NFL_Analysis_Who_faces_more_pressure_from_Brady_Rodgers_or_Mahomes_2021415_FT/dm_210419_COM_NFL_Analysis_Who_faces_more_pressure_from_Brady_Rodgers_or_Mahomes_2021415_FT.jpg","height":324}],"premium":false,"description":"Patrick
        Mahomes, who underwent turf toe surgery in February, will take part when the
        Chiefs begin offseason practice next week, a source confirmed to ESPN.","links":{"web":{"short":{"href":"https://es.pn/3yyu0bY"},"href":"https://www.espn.com/nfl/story/_/id/31484623/patrick-mahomes-ready-team-drills-return-turf-toe-surgery-source-says"},"mobile":{"href":"http://m.espn.go.com/nfl/story?storyId=31484623"},"api":{"news":{"href":"http://now.core.api.espn.com/v1/sports/news/31484623"},"self":{"href":"http://now.core.api.espn.com/v1/sports/news/31484623"}}},"published":"2021-05-21T19:22:33Z","lastModified":"2021-05-21T19:20:49Z","categories":[{"uid":"s:20~l:28~a:3139477","sportId":28,"athleteId":3139477,"athlete":{"description":"Patrick
        Mahomes","links":{"web":{"athletes":{"href":"https://www.espn.com/nfl/player/_/id/3139477/patrick-mahomes"}},"mobile":{"athletes":{"href":"http://m.espn.com/nfl/playercard?playerId=3139477"}},"api":{"athletes":{"href":"http://now.core.api.espn.com/v1/sports/football/nfl/athletes/3139477"}}},"id":3139477},"description":"Patrick
        Mahomes","id":166867,"type":"athlete","createDate":"2021-05-21T19:03:00Z"},{"uid":"s:20~l:28~t:12","sportId":28,"teamId":12,"description":"Kansas
        City Chiefs","id":2496,"team":{"description":[...]
